# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo

# Node
node_modules/

# Others
.env
.DS_Store